BasedOnStyle: Microsoft
IndentWidth: 8
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakTemplateDeclarations: Yes

Language: Cpp
SortIncludes: true
PointerAlignment: Left
